body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #5b7989;
    text-align: left;
    color: white;
    border-radius: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

menu{
        list-style-type: none;
        margin: 0;
        padding: 0.3vw 0.5vh;
        overflow: hidden;
        background-color: #9ca0a6;
        float: left;
}

menu li a:hover, menu a:active{
    background-color: #111;
}
menu li .activa, .menu li .activa a:visited{
    background-color: rgba(18, 18, 18, 0.71);
    color: white;
}

.activa{
    text-decoration: none;
}

a[href$='html']{
    display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

footer{
    background: ;
}